<h2>New book</h2>
<%= form_with model: @book, local:true do |f| %>
  <div class="field row">
    <label for="book_title">Title</label>
    <%= f.text_field :title, autofocus: true, class:"col-xs-12 book_title", id:"book_title" %>
  </div>
  <div class="field row">
    <label for="book_opinion">Opinion</label>
    <%= f.text_area :body, autofocus: true, class:"col-xs-12 book_body", id:"book_opinion" %>
  </div>
  <div class="action row">
    <%= f.submit "Create Book", class:"btn btn-primary col-xs-12" %>
  </div>
<% end %>